[package]
name = "opendatafabric-metadata"
description = "Implements core conecpts of Open Data Fabric protocol specification"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
# TODO: Flatbuffers codegen needs to be updated to produce code that doesn't violate new unsafe linting rules
edition = "2021"
# edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = ["arrow"]

arrow = ["dep:arrow"]
did-pkh = ["dep:ssi-caips"]
sqlx = ["dep:sqlx"]
sqlx-mysql = ["sqlx", "sqlx/mysql"]
sqlx-postgres = ["sqlx", "sqlx/postgres"]
sqlx-sqlite = ["sqlx", "sqlx/sqlite"]
testing = ["dep:rand", "did-pkh"]
utoipa = ["multiformats/utoipa", "dep:utoipa"]


[dependencies]
enum-variants = { workspace = true }
internal-error = { workspace = true }
multiformats = { workspace = true }

chrono = { version = "0.4", features = ["serde"] }
digest = "0.10"
thiserror = { version = "2", default-features = false, features = ["std"] }
bitflags = { version = "2", default-features = false, features = ["serde"] }

like = { version = "0.3", default-features = false }
sha3 = "0.10"
url = "2"

# Crypto
ed25519-dalek = { version = "2", default-features = false, features = [
    "std",
    "fast",
    "zeroize",
    "rand_core",
] }

# Serialization
base64 = { version = "0.22", default-features = false, features = ["std"] }
flatbuffers = "25"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1", default-features = false, features = ["std"] }
serde_with = "3"
serde_yaml = "0.9"

# gRPC
prost = { version = "0.13", default-features = false, features = [
    "std",
    "derive",
] }
tonic = { version = "0.12", default-features = false, features = [
    "transport",
    "codegen",
    "prost",
] }

# Optional
arrow = { optional = true, version = "56", default-features = false, features = [
    "ipc",
] }
rand = { optional = true, version = "0.9", default-features = false }
sqlx = { optional = true, version = "0.8", default-features = false }
ssi-caips = { optional = true, version = "0.2", default-features = false, features = [
    "eip",
] }
utoipa = { optional = true, version = "5", default-features = false }


[dev-dependencies]
indoc = "2"
pretty_assertions = { version = "1" }
rand = { version = "0.9" }
