[package]
name = "kamu-accounts"
description = "Domain model of the accounts and permissions"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = []
sqlx = ["dep:sqlx"]
testing = ["dep:mockall", "odf/testing"]


[dependencies]
database-common = { workspace = true }
crypto-utils = { workspace = true }
email-utils = { workspace = true }
event-sourcing = { workspace = true }
internal-error = { workspace = true }
messaging-outbox = { workspace = true }
odf = { workspace = true, default-features = false, features = [
    "did-pkh",
    "schemars",
] }
random-strings = { workspace = true }
kamu-search = { workspace = true }

async-trait = { version = "0.1", default-features = false }
base32 = { version = "0.5" }
bon = { version = "3", default-features = false }
chrono = { version = "0.4", default-features = false }
crc32fast = { version = "1.5" }
futures = { version = "0.3", default-features = false }
jsonwebtoken = { version = "10", default-features = false, features = [
    "rust_crypto",
] }
mockall = { optional = true, version = "0.14" }
nutype = { version = "0.6", default-features = false, features = [
    "new_unchecked",
    "serde",
] }
rand = "0.9"
reusable = "0.1"
schemars = { version = "1", default-features = false, features = ["derive"] }
secrecy = "0.10"
serde = "1"
setty = { version = "0.3", default-features = false }
serde_json = { version = "1", default-features = false }
strum = { version = "0.27", features = ["derive"] }
thiserror = { version = "2", default-features = false, features = ["std"] }
uuid = { version = "1", default-features = false, features = ["v4", "serde"] }

# Optional
sqlx = { optional = true, version = "0.8", default-features = false, features = [
    "macros",
] }

[dev-dependencies]
