# Offline database mode by default
SQLX_OFFLINE=true

# Only possible for a multi-tenant workspace
KAMU_AUTH_GITHUB_CLIENT_ID=
KAMU_AUTH_GITHUB_CLIENT_SECRET=

# Values: docker | podman
KAMU_CONTAINER_RUNTIME_TYPE=

# Override the path to the workspace
KAMU_WORKSPACE=

# Ingest parameters
ODF_BATCH_SIZE=
ODF_POLL_TIMEOUT_MS=
