# Only for possible for a multi-tenant workspace
KAMU_AUTH_GITHUB_CLIENT_ID=
KAMU_AUTH_GITHUB_CLIENT_SECRET=

# Values: docker | podman
KAMU_CONTAINER_RUNTIME_TYPE=

# URLs generation
KAMU_BASE_URL_REST=
KAMU_BASE_URL_FLIGHTSQL=

# Override the path to the workspace
KAMU_WORKSPACE=
