[submodule "kamu-core-ingest-polling"]
	path = libraries/kamu-core-ingest-polling
	url = https://github.com/kamu-data/kamu-core-ingest-polling
[submodule "kamu-core-manifests"]
	path = libraries/kamu-core-manifests
	url = https://github.com/kamu-data/kamu-core-manifests
[submodule "kamu-core-transform-streaming"]
	path = libraries/kamu-core-transform-streaming
	url = https://github.com/kamu-data/kamu-core-transform-streaming
