[bans]
# Forbid multiple versions of same dependency (with some exceptions)
# TODO: Change to "deny" once we crack down on duplication
multiple-versions = "warn"

# Avoid adding dependencies to this list as this slows down compilation.
# Find another ways to avoid duplication.
skip-tree = []

# We should always specify version ranges
wildcards = "deny"

# We specify features explicitly to avoid bloat
# TODO: https://github.com/EmbarkStudios/cargo-deny/issues/699
# external-default-features = "deny"

# TODO: https://github.com/EmbarkStudios/cargo-deny/issues/700
# workspace-default-features = "deny"


deny = [
    ### Crates we shouldn't use ####
    { name = "md5", reason = "Use `md-5` instead, which is part of the RustCrypto ecosystem" },
    { name = "native-tls", reason = "We use rustls throughout the project" },

    ### Creates we deny multiple versions of ###
    # This is a temporary approach until we deny by default with some exceptions
    { name = "alloy", deny-multiple-versions = true },
    { name = "arrow", deny-multiple-versions = true },
    # TODO: Re-enable lint once tonic upgrades to axum 0.8
    # { name = "axum", deny-multiple-versions = true },
    { name = "aws-config", deny-multiple-versions = true },
    { name = "clap", deny-multiple-versions = true },
    { name = "datafusion", deny-multiple-versions = true },
    { name = "dill", deny-multiple-versions = true },
    # TODO: waiting for aws-sdk to upgrade
    # https://github.com/awslabs/aws-sdk-rust/issues/977
    # { name = "hyper", deny-multiple-versions = true },
    { name = "object_store", deny-multiple-versions = true },
    { name = "parquet", deny-multiple-versions = true },
    { name = "prost", deny-multiple-versions = true },
    { name = "reqwest", deny-multiple-versions = true },
    # { name = "rustls", deny-multiple-versions = true },
    { name = "sqlx", deny-multiple-versions = true },
    { name = "tokio", deny-multiple-versions = true },
    # TODO: waiting for qdrant-client and opentelemetry to update
    # { name = "tonic", deny-multiple-versions = true },
]


[licenses]
allow = [
    "0BSD",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "BSL-1.0",
    "bzip2-1.0.6",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MIT-0",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-3.0",
    "Unlicense",
    "Zlib",
]
private = { ignore = true }


[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]


[sources]
unknown-git = "deny"
unknown-registry = "deny"
allow-org = { github = [
    "kamu-data",
    "apache",
    "alloy-rs",
    "datafusion-contrib",
] }


[advisories]
yanked = "deny"
# TODO: Remove when patches are available
ignore = [
    # rsa crate vulnerability (used by sqlx), no fix available yet
    # https://rustsec.org/advisories/RUSTSEC-2023-0071.html
    "RUSTSEC-2023-0071",
    # Unmaintained (proc-macro-error)
    # https://rustsec.org/advisories/RUSTSEC-2024-0370.html
    "RUSTSEC-2024-0370",
    # Unmaintained (paste)
    # https://rustsec.org/advisories/RUSTSEC-2024-0436
    "RUSTSEC-2024-0436",
    # Unmaintained (backoff)
    # https://rustsec.org/advisories/RUSTSEC-2025-0012
    "RUSTSEC-2025-0012",
    # Unmaintained (instant)
    # https://rustsec.org/advisories/RUSTSEC-2024-0384
    "RUSTSEC-2024-0384",
    # Multiple soundness issues in owning_ref (no patched versions)
    # https://rustsec.org/advisories/RUSTSEC-2022-0040
    "RUSTSEC-2022-0040",
    # Unmaintained (custom_derive)
    # https://rustsec.org/advisories/RUSTSEC-2025-0058
    "RUSTSEC-2025-0058",
    # ToDo: Remove once alloy will fix it
    # https://rustsec.org/advisories/RUSTSEC-2025-0058
    "RUSTSEC-2025-0073",
    # Unmaintained (rustls-pemfile)
    # https://rustsec.org/advisories/RUSTSEC-2025-0134
    "RUSTSEC-2025-0134",    
]
