[package]
name = "kamu-flow-system-sqlite"
description = "SQLite-specific implementation of the flows management for scheduled dataset and system activities"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
database-common = { workspace = true }
database-common-macros = { workspace = true }
internal-error = { workspace = true }
kamu-flow-system = { workspace = true, features = ["sqlx"] }
odf = { workspace = true }
time-source = { workspace = true }

async-stream = "0.3"
async-trait = { version = "0.1", default-features = false }
canonical_json = { version = "0.5.0", default-features = false }
chrono = { version = "0.4", default-features = false }
dill = { version = "0.14", default-features = false }
futures = "0.3"
serde_json = "1"
sqlx = { version = "0.8", default-features = false, features = [
    "runtime-tokio",
    "json",
    "macros",
    "sqlite",
    "chrono"
] }
tokio = { version = "1", default-features = false }
tracing = { version = "0.1", default-features = false }


[dev-dependencies]
database-common-macros = { workspace = true }
internal-error = { workspace = true }
kamu-flow-system-repo-tests = { workspace = true }

test-log = { version = "0.2", features = ["trace"] }
test-group = { version = "1" }
