sparkmagic

pandas
geopandas
geojson
xarray
netcdf4
dask

bokeh
pandas-bokeh
folium
altair
mapboxgl
shapely


# TODO: Pinned to avoid a compatibility issue - need to upgrade to newer Jupyter
hdijupyterutils==0.19.0
ipywidgets==7.6.3
jupyter-console==6.4.0
jupyterlab-widgets==1.0.0
widgetsnbextension==3.5.1
