<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false" threshold="debug">

    <appender name="console-generic" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <appender name="console-cli" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err"/>
        <layout class="com.jcabi.log.MulticolorLayout">
            <param name="ConversionPattern" value="[%color{%p}] %m%n" />
        </layout>
    </appender>

    <logger name="dev.kamu.cli" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console-cli"/>
    </logger>

    <logger name="org.apache.hadoop.util.NativeCodeLoader" additivity="false">
        <level value="error"/>
        <appender-ref ref="console-cli"/>
    </logger>

    <root>
        <priority value="info"/>
        <appender-ref ref="console-generic"/>
    </root>

</log4j:configuration>
