<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="console-generic" target="SYSTEM_ERR">
            <PatternLayout pattern="[%highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] %c - %msg%n" />
        </Console>
        <Console name="console-cli" target="SYSTEM_ERR">
            <PatternLayout pattern="[%highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.hive.jdbc" level="warn"/>
        <Logger name="dev.kamu.cli" level="info" additivity="false">
            <AppenderRef ref="console-cli"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="console-generic"/>
        </Root>
    </Loggers>

</Configuration>
