[package]
name = "kamu-ingest-datafusion"
description = "Ingest implementation using Apache DataFusion"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
internal-error = { workspace = true }
opendatafabric = { workspace = true, features = ["arrow"] }
kamu-core = { workspace = true }
kamu-data-utils = { workspace = true }

datafusion = { version = "44", default-features = false }
geo-types = { version = "0.7", default-features = false, features = [] }
geojson = { version = "0.24", default-features = false, features = [
    "geo-types",
] }
glob = "0.3"
serde = { version = "1" }
serde_json = "1"
shapefile = { version = "0.6", features = ["geo-types"] }
walkdir = "2"
zip = { version = "2", default-features = false, features = [
    "deflate",
    "bzip2",
    "zstd",
] }

# Utils
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
thiserror = { version = "2", default-features = false, features = ["std"] }
tokio = { version = "1", default-features = false, features = [
    "fs",
    "process",
] }
tracing = "0.1"


[dev-dependencies]
kamu-data-utils = { workspace = true, features = ["testing"] }

criterion = { version = "0.5", features = ["async_tokio"] }
indoc = "2"
pretty_assertions = "1"
rand = "0.8"
test-group = { version = "1" }
test-log = { version = "0.2", features = ["trace"] }
tempfile = "3"
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }


[[bench]]
name = "cdc_project"
harness = false

[[bench]]
name = "ledger"
harness = false

[[bench]]
name = "snapshot"
harness = false
