[package]
name = "kamu"
description = "Common implementations of Kamu's core domain types"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = []

ingest-evm = ["dep:alloy", "dep:datafusion-ethers"]
ingest-ftp = ["dep:curl", "dep:curl-sys"]
ingest-mqtt = ["dep:rumqttc"]
query-extensions-json = ["dep:datafusion-functions-json"]


[dependencies]
# Kamu
container-runtime = { workspace = true }
internal-error = { workspace = true }
kamu-accounts = { workspace = true }
kamu-core = { workspace = true }
kamu-data-utils = { workspace = true }
kamu-datasets = { workspace = true }
kamu-ingest-datafusion = { workspace = true }
messaging-outbox = { workspace = true }
opendatafabric = { workspace = true }
random-names = { workspace = true }
time-source = { workspace = true }

# Serialization
flatbuffers = "24"
hex = "0.4"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = "3"
serde_yaml = "0.9"

# Ingest
flate2 = "1" # GZip decoder
reqwest = { version = "0.11", default-features = false, features = [
    "json",
    "rustls-tls",
    "stream",
    "gzip",
    "brotli",
    "deflate",
    "json",
] }
ringbuf = "0.3"
secrecy = "0.8"
zip = "0.6"

# Data
datafusion = { version = "42", default-features = false }
digest = "0.10"
object_store = { version = "0.11", features = ["aws"] }
parking_lot = { version = "0.12" }
sha3 = "0.10"

# Repositories
aws-config = { version = "0.57" }
aws-sdk-s3 = { version = "0.35" }
aws-smithy-http = { version = "0.57", features = ["rt-tokio"] }
aws-smithy-types = { version = "0.57" }
aws-credential-types = { version = "0.57" }
trust-dns-resolver = "0.23"                                     # TODO: Needed for DNSLink resolution with IPFS
http = "0.2"

# Utils
async-recursion = "1"
async-stream = "0.3"
async-trait = "0.1"
bytes = "1"
cfg-if = "1" # Conditional compilation
chrono = { version = "0.4", features = ["serde"] }
dashmap = { version = "6", default-features = false }
dill = "0.9"
futures = "0.3"
glob = "0.3" # Used for glob fetch
hyper = "0.14"
itertools = "0.13"
libc = "0.2" # Signal names
like = { version = "0.3", default-features = false }
mockall = "0.11"
pin-project = "1"
petgraph = { version = "0.6.4", default-features = false }
rand = "0.8"
regex = "1"
tempfile = "3"
thiserror = { version = "1", default-features = false }
tokio = { version = "1", default-features = false, features = [
    "fs",
    "process",
] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", default-features = false, features = [
    "codec",
    "compat",
    "io",
] }
tracing = "0.1"
url = { version = "2", features = ["serde"] }
walkdir = "2"

# Http file server
tower = "0.4"
tower-http = { version = "0.4", features = ["fs", "trace"] }
axum = "0.6"

# Optional dependencies
alloy = { optional = true, version = "0.3", default-features = false, features = [
    "std",
    "provider-http",
    "provider-ws",
] }
# TODO: Using curl brings a lot of overhead including compiling and linking openssl
# We should replace it with reqwest + a separate FTP client or drop FTP support in favor of container-based ingest.
curl = { optional = true, version = "0.4", features = [
    "protocol-ftp",
    "static-curl",
    "static-ssl",
] }
curl-sys = { optional = true, version = "0.4" }
datafusion-ethers = { optional = true, version = "42" }
datafusion-functions-json = { optional = true, version = "0.42" }
rumqttc = { optional = true, version = "0.24" }


[target.'cfg(unix)'.dependencies]
libc = "0.2" # For getting uid:gid


[dev-dependencies]
database-common = { workspace = true }
kamu-accounts-inmem = { workspace = true }
kamu-accounts-services = { workspace = true }
kamu-datasets-services = { workspace = true }

criterion = { version = "0.5", features = ["async_tokio"] }
datafusion = { version = "42", default-features = false, features = [
    "parquet",
] }
filetime = "0.2"
indoc = "2"
nanoid = "0.4.0"
test-group = { version = "1" }
test-log = { version = "0.2", features = ["trace"] }
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[[bench]]
name = "parallel_simple_transfer_protocol"
harness = false
path = "tests/benches/parallel_simple_transfer_protocol.rs"
