[package]
name = "kamu-molecule-domain"
description = "Molecule-specific domain model"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = []


[dependencies]
database-common = { workspace = true }
file-utils = { workspace = true }
format-utils = { workspace = true }
internal-error = { workspace = true }
kamu-accounts = { workspace = true }
kamu-core = { workspace = true }
kamu-datasets = { workspace = true }
kamu-auth-rebac = { workspace = true }
messaging-outbox = { workspace = true }
odf = { workspace = true, default-features = false }

tokio = { version = "1", default-features = false }
async-trait = { version = "0.1", default-features = false }
bytes = { version = "1", default-features = false }
chrono = { version = "0.4" }
indoc = { version = "2", default-features = false }
nonempty = { version = "0.12", default-features = false }
num-bigint = { version = "0.4", default-features = false }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1.0", default-features = false }
thiserror = { version = "2", default-features = false }
uuid = { version = "1", default-features = false, features = ["serde", "v4"] }


[dev-dependencies]
