[package]
name = "kamu-datasets-services"
description = "Service layer of datasets management system"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = ["lfs"]
lfs = []
s3 = []
testing = ["dep:mockall"]


[dependencies]
common-macros = { workspace = true }
database-common = { workspace = true }
database-common-macros = { workspace = true }
file-utils = { workspace = true }
init-on-startup = { workspace = true }
internal-error = { workspace = true }
kamu-accounts = { workspace = true }
kamu-auth-rebac = { workspace = true }
kamu-core = { workspace = true }
kamu-datasets = { workspace = true }
messaging-outbox = { workspace = true }
mockall = { optional = true, version = "0.13" }
odf = { workspace = true, features = ["http", "lfs", "s3"] }
s3-utils = { workspace = true }
time-source = { workspace = true }

async-stream = "0.3"
async-trait = { version = "0.1", default-features = false }
bytes = { version = "1", default-features = false }
cheap-clone = { version = "0.3", default-features = false, features = ["alloc"] }
chrono = { version = "0.4", default-features = false }
datafusion = { version = "50", default-features = false }
dill = { version = "0.14", default-features = false }
futures = { version = "0.3", default-features = false }
itertools = { version = "0.14", default-features = false }
nutype = { version = "0.6", default-features = false }
petgraph = { version = "0.8", default-features = false, features = [
    "stable_graph",
] }
secrecy = "0.10"
serde = { version = "1", default-features = false }
serde_json = { version = "1", default-features = false }
sha3 = { version = "0.10", default-features = false, features = [] }
thiserror = { version = "2", default-features = false }
tokio = { version = "1", default-features = false }
tokio-stream = { version = "0.1", default-features = false }
tracing = { version = "0.1", default-features = false }
url = { version = "2", default-features = false }
uuid = { version = "1", default-features = false }


[dev-dependencies]
kamu = { workspace = true, features = ["testing"] }
kamu-accounts = { workspace = true, features = ["testing"] }
kamu-accounts-inmem = { workspace = true }
kamu-accounts-services = { workspace = true }
kamu-auth-rebac-inmem = { workspace = true }
kamu-auth-rebac-services = { workspace = true }
kamu-core = { workspace = true, features = ["testing"] }
kamu-datasets = { workspace = true, features = ["testing"] }
kamu-datasets-inmem = { workspace = true }
kamu-datasets-services = { workspace = true, features = ["testing"] }
odf = { workspace = true, features = ["testing"] }

indoc = "2"
mockall = "0.13"
oop = "0.0.2"
pretty_assertions = { version = "1" }
rstest = { version = "0.26", default-features = false, features = [] }
serde_json = "1"
tempfile = "3"
test-log = { version = "0.2", features = ["trace"] }
