[package]
name = "kamu-datasets-services"
description = "Service layer of datasets management system"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
database-common = { workspace = true }
init-on-startup = { workspace = true }
internal-error = { workspace = true }
kamu-accounts = { workspace = true }
kamu-core = { workspace = true }
kamu-datasets = { workspace = true }
messaging-outbox = { workspace = true }
opendatafabric = { workspace = true }
time-source = { workspace = true }

async-stream = "0.3"
async-trait = { version = "0.1", default-features = false }
chrono = { version = "0.4", default-features = false }
dill = "0.11"
futures = { version = "0.3", default-features = false }
petgraph = { version = "0.7", default-features = false, features = [
    "stable_graph",
] }
secrecy = "0.10"
thiserror = { version = "2", default-features = false }
tokio = { version = "1", default-features = false }
tokio-stream = { version = "0.1", default-features = false }
tracing = { version = "0.1", default-features = false }
uuid = { version = "1", default-features = false }


[dev-dependencies]
kamu = { workspace = true, features = ["testing"] }
kamu-accounts = { workspace = true, features = ["testing"] }
kamu-accounts-inmem = { workspace = true }
kamu-core = { workspace = true, features = ["testing"] }
kamu-datasets = { workspace = true, features = ["testing"] }
kamu-datasets-inmem = { workspace = true }

indoc = "2"
mockall = "0.13"
oop = "0.0.2"
pretty_assertions = { version = "1" }
test-log = { version = "0.2", features = ["trace"] }
