[package]
name = "kamu-datasets-inmem"
description = "In-memory implementation of datasets domain"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
database-common = { workspace = true }
kamu-datasets = { workspace = true }
opendatafabric = { workspace = true }
internal-error = { workspace = true }

async-stream = "0.3"
async-trait = { version = "0.1", default-features = false }
chrono = { version = "0.4", default-features = false }
dill = "0.9"
futures = "0.3"
secrecy = "0.10"
thiserror = { version = "2", default-features = false, features = ["std"] }
tokio = { version = "1", default-features = false }
tokio-stream = "0.1"
tracing = { version = "0.1", default-features = false }
uuid = "1"


[dev-dependencies]
database-common-macros = { workspace = true }
kamu-accounts-inmem = { workspace = true }
kamu-datasets-repo-tests = { workspace = true }

test-group = { version = "1" }
test-log = { version = "0.2", features = ["trace"] }
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }
