[package]
name = "observability"
description = "Utilities for tracing, structured logging, and metrics"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = []

opentelemetry = [
    "dep:opentelemetry",
    "dep:opentelemetry_sdk",
    "dep:opentelemetry-otlp",
    "dep:opentelemetry-semantic-conventions",
    "dep:tracing-opentelemetry",
]

prometheus = ["dep:prometheus"]


[dependencies]
async-trait = { version = "0.1" }
axum = { version = "0.8", default-features = false, features = ["json", "matched-path", "query"] }
dill = { version = "0.13", default-features = false }
http = { version = "1", default-features = false }
lazy_static = { version = "1" }
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = { version = "1", default-features = false }
thiserror = { version = "2", default-features = false, features = ["std"] }
tracing = { version = "0.1", default-features = false }
tracing-appender = { version = "0.2", default-features = false }
tracing-subscriber = { version = "0.3", features = ["env-filter", "json"] }
tower-http = { version = "0.6", default-features = false, features = ["trace"] }

opentelemetry = { optional = true, version = "0.26", default-features = false }
opentelemetry_sdk = { optional = true, version = "0.26", default-features = false, features = [
    "rt-tokio",
] }
opentelemetry-otlp = { optional = true, version = "0.26", default-features = false, features = [
    "trace",
    "grpc-tonic",
] }
opentelemetry-semantic-conventions = { optional = true, version = "0.26", default-features = false }
tracing-opentelemetry = { optional = true, version = "0.27", default-features = false }

prometheus = { optional = true, version = "0.13", default-features = false }


[dev-dependencies]
