[package]
name = "kamu-task-system-inmem"
description = "In-memory implementation of the compute node's task system for testing purposes"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
opendatafabric = { workspace = true }
event-bus = { workspace = true }
kamu-core = { workspace = true }
kamu-task-system = { workspace = true }

async-stream = "0.3"
async-trait = { version = "0.1", default-features = false }
chrono = { version = "0.4", default-features = false }
dill = "0.8"
futures = "0.3"
thiserror = { version = "1", default-features = false }
tokio = { version = "1", default-features = false, features=[] }
tokio-stream = { version = "0.1", default-features = false }
tracing = { version = "0.1", default-features = false }
url = { version = "2", default-features = false, features = ["serde"] }

# TODO: Make serde optional
serde = { version = "1", default-features = false}
serde_with = { version = "3", default-features = false }


[dev-dependencies]
test-log = { version = "0.2", features = ["trace"] }
tokio = { version = "1", default-features = false, features=["rt", "macros"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
