[package]
name = "kamu-flow-system-services"
description = "Service model of the flows management for scheduled dataset and system activities"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
database-common = { workspace = true }
internal-error = { workspace = true }
messaging-outbox = { workspace = true }
kamu-accounts = { workspace = true }
kamu-core = { workspace = true }
kamu-flow-system = { workspace = true }
kamu-task-system = { workspace = true }
opendatafabric = { workspace = true }
time-source = { workspace = true }

async-stream = "0.3"
async-trait = { version = "0.1", default-features = false }
chrono = { version = "0.4", default-features = false }
dill = "0.9"
futures = "0.3"
thiserror = { version = "1", default-features = false }
tokio = { version = "1", default-features = false, features = [] }
tokio-stream = { version = "0.1", default-features = false }
tracing = { version = "0.1", default-features = false }
url = { version = "2", default-features = false, features = ["serde"] }

# TODO: Make serde optional
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = "1"
serde_with = { version = "3", default-features = false }


[dev-dependencies]
database-common = { workspace = true }
database-common-macros = { workspace = true }
kamu = { workspace = true }
kamu-accounts-inmem = { workspace = true }
kamu-accounts-services = { workspace = true }
kamu-auth-rebac-inmem = { workspace = true }
kamu-auth-rebac-services = { workspace = true }
kamu-flow-system-inmem = { workspace = true }
kamu-task-system-inmem = { workspace = true }
kamu-task-system-services = { workspace = true }

cron = { version = "0.12", default-features = false }
indoc = "2"
mockall = "0.11"
pretty_assertions = "1"
tempfile = "3"
test-log = { version = "0.2", features = ["trace"] }
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
