[package]
name = "messaging-outbox"
description = "Code organizing reliable message exchange between modules"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[dependencies]
database-common = { workspace = true }
database-common-macros = { workspace = true }
init-on-startup = { workspace = true }
internal-error = { workspace = true }
observability = { workspace = true, features = ["prometheus"] }
time-source = { workspace = true }

async-trait = "0.1"
chrono = { version = "0.4" }
dill = "0.11"
futures = "0.3"
itertools = "0.14"
mockall = "0.13"
prometheus = { version = "0.13", default-features = false }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = { version = "2", default-features = false, features = ["std"] }
tokio = { version = "1", default-features = false }
tokio-stream = { version = "0.1", default-features = false }
tracing = "0.1"

[dev-dependencies]
kamu-messaging-outbox-inmem = { workspace = true }

paste = "1"
serde = { version = "1", features = ["derive"] }
test-log = { version = "0.2", features = ["trace"] }
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }
