[package]
name = "kamu-molecule-services"
description = "Service layer of Molecule domain"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = []


[dependencies]
common-macros = { workspace = true }
database-common = { workspace = true }
file-utils = { workspace = true }
internal-error = { workspace = true }
kamu-accounts = { workspace = true }
kamu-auth-rebac = { workspace = true }
kamu-core = { workspace = true }
kamu-datasets = { workspace = true }
kamu-datasets-services = { workspace = true }
kamu-molecule-domain = { workspace = true }
messaging-outbox = { workspace = true }
odf = { workspace = true, default-features = false }
time-source = { workspace = true }

async-trait = { version = "0.1", default-features = false }
bytes = { version = "1", default-features = false }
chrono = { version = "0.4", default-features = false }
datafusion = { version = "50", default-features = false }
dill = { version = "0.14", default-features = false }
indoc = { version = "2", default-features = false }
nonempty = { version = "0.12", default-features = false }
num-bigint = { version = "0.4", default-features = false }
serde_json = { version = "1.0", default-features = false }
tokio = { version = "1", default-features = false, features = ["macros"] }
tracing = { version = "0.1", default-features = false }
uuid = { version = "1", default-features = false, features = ["v4"] }


[dev-dependencies]
