[package]
name = "opendatafabric-data-utils"
description = "Utilities for working with data and schemas"
version = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license-file = { workspace = true }
keywords = { workspace = true }
include = { workspace = true }
edition = { workspace = true }
publish = { workspace = true }


[lints]
workspace = true


[lib]
doctest = false


[features]
default = []
testing = ["dep:pretty_assertions"]


[dependencies]
odf-metadata = { workspace = true, features = ["arrow"] }

async-trait = "0.1"
arrow = { version = "57", default-features = false }
arrow-digest = { version = "57", default-features = false }
arrow-json = { version = "57", default-features = false }
arrow-schema = { version = "57", default-features = false, features = [
    "serde",
] }
datafusion = { version = "51", default-features = false, features = [
    "parquet",
    "serde",
    "sql",
] }
digest = "0.10"
hex = "0.4"
sha3 = "0.10"
tracing = { version = "0.1", default-features = false }
thiserror = { version = "2", default-features = false, features = ["std"] }
url = "2"
serde = { version = "1", default-features = false }
serde_json = { version = "1", default-features = false }
serde_yaml = { version = "0.9", default-features = false }

# Optional
pretty_assertions = { optional = true, version = "1" }


[dev-dependencies]
indoc = "2"
pretty_assertions = { version = "1" }
test-group = { version = "1" }
test-log = { version = "0.2", features = ["trace"] }
tokio = { version = "1", default-features = false, features = ["rt", "macros"] }
