name: build
on: [push]
#on:
#  push:
#    branches:
#      - master
#  pull_request:
#    branches:
#      - master
jobs:
  test_linux:
    name: Test / Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1  # Uses rust-toolchain file
      - run: cargo build
      - run: cargo run --bin kamu-cli -- config set --user engine.runtime podman  # Podman is default for tests but not for runtime yet
      - run: cargo run --bin kamu-cli -- init --pull-test-images
      - run: cargo test --verbose
  test_macos:
    name: Test / MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1  # Uses rust-toolchain file
      - run: cd kamu-core && cargo test --features skip_docker_tests --verbose
      - run: cd kamu-cli && cargo test --verbose
  test_windows:
    name: Test / Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1  # Uses rust-toolchain file
      - run: cd kamu-core && cargo test --features skip_docker_tests --verbose
      - run: cd kamu-cli && cargo test --verbose
