name: release-images
on:
  # Manual trigger
  workflow_dispatch: {}
  # Automatic trigger after each release
  # Note: Triggers on both successes and failures (see conditional below)
  workflow_run:
    workflows:
      - release
    types:
      - completed
env:
  # AWS credentials (needed only to list a bucket)
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: us-west-2
jobs:
  build_images:
    name: Build Images
    runs-on: ubuntu-latest
    if: |
      github.event.workflow_run.conclusion == 'success' ||
      github.event.workflow_run.conclusion == null
    steps:
      - uses: actions/checkout@v3

      - name: Install kamu
        env:
          KAMU_VERSION: "0.134.0"
        shell: bash
        run: |
          curl -s "https://get.kamu.dev" | sh

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build base image
        run: |
          cd images/
          make kamu-base

      - name: Build base image with sample data
        run: |
          cd images/
          make kamu-base-with-data

      - name: Publish images
        run: |
          cd images
          make kamu-base-push
          make kamu-base-with-data-push
