name: release-images
on:
  # Manual trigger
  workflow_dispatch: {}
  # Automatic trigger after each release
  # Note: Triggers on both successes and failures (see conditional below)
  workflow_run:
    workflows:
      - release
    types:
      - completed
jobs:
  build_images:
    name: Build Images
    runs-on: ubuntu-latest
    if: |
      github.event.workflow_run.conclusion == 'success' ||
      github.event.workflow_run.conclusion == null
    steps:
      - uses: actions/checkout@v3

      - name: Install kamu
        env:
          KAMU_VERSION: "0.114.1"
        shell: bash
        run: |
          curl -s "https://get.kamu.dev" | sh

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Base Image
        run: |
          cd images/
          make kamu-base

      - name: Build Base Image With Sample Data
        run: |
          cd images/
          make kamu-base-with-data

      - name: Publish images
        run: |
          cd images
          make kamu-base-push
          make kamu-base-with-data-push
