ipywidgets
sparkmagic

pandas
geopandas
geojson
xarray
netcdf4
dask

bokeh
hvplot
pandas-bokeh
folium
altair
shapely

# TODO: Installed in Dockerfile via pip
# This is a semi-permanent hack for `mapboxgl` package being broken in conda-forge
# See: https://github.com/kamu-data/kamu-cli/issues/533
# mapboxgl
